*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(238, 200, 238);
    font-family: sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.calculator{
    background-color:rgb(235, 223, 223);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #c56abe,
                      5px 5px 12px rgba(0 , 0 , 0, .16);
    display: grid;
    grid-template-columns: repeat(4,68px);                  
    border: 1px solid rgb(207, 42, 199);                
}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: rgb(237, 199, 238);
    box-shadow: inset -5px -5px 12px #cb8dd1,
                inset 5px 5px 12px rgba(0 , 0 , 0, .16);
    border: none;
    border-radius: 20px;
    color: rgb(70, 70, 70);
    font-size: 30px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    height: 48px;
    width: 48px;
    background-color: rgb(183, 102, 221);
    box-shadow: -5px -5px 12px #e0a5e6,
                 5px 5px 12px rgba(0 , 0 , 0, .16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.equal{
    width: 115px;
    border-radius: 40px;
    background-color: rgb(97, 21, 97);
    box-shadow: -5px -5px 12px #ca70bb,
                 5px 5px 12px rgba(0 , 0 , 0, .16);
}

.equal:hover{
    background-color: violet;
    box-shadow: 0 0 10px rgb(175, 53, 175) 0 0 10px rgb(175, 53, 175);
}
.sign{
    background-color: rgb(228, 42, 218);
    box-shadow: -5px -5px 12px #e4a4db,
                 5px 5px 12px rgba(0 , 0 , 0, .16);
}

.sign:hover{
    background-color: rgb(241, 72, 137);
}
.dot{
    font-size: 25px;
    background-color: #882780;
}